*{
padding: 0;
margin: 0;
}
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    top: 0px;
}

#logo{
margin: 10px 34px;

}
#logo img{
    height: 60px;
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
}


#navbar::before{
    content: "";
    background-color: aqua;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#navbar ul li{
    color: white;
    list-style-type: none;
    font-size: 1.3rem;
}
#navbar ul li a{
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: lightgreen;
 }
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 633px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(./image/image1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-size: 2.8rem;
}

#services{
margin: 34px;
display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p{
    font-size: 1.3rem;
}

.link{
    background-color:white;
    color: blue
    opacity: 2;
    border-radius: 28px; }
    .main{
        width: 330px;
        border: 03px solid wheat;
        padding: 08px;
        border-radius: 30px;
    }
    input{
        background: transparent;
        border: opx;
        outline: 0px;
        width: 300px;
    }